*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}
html, 
body{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}
main{
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



button{
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    background-color:crimson ;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    z-index:9 ;


    
}
button:active{
    scale: 0.95;
}
h1{
    white-space: nowrap;
}
