*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}
html, 
body{
    height: 100%;
    width: 100%;
    background-color: #111;
}
button1{
    background-color: rgb(192, 54, 54);
    padding: 12px 20px;
    width: 100px;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    display: inline-block;
}
button2{
    background-color: rgb(192, 54, 54);
    padding: 12px 20px;
    width: 100px;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    display: inline-block;
}
h2{
    font-size: 70px;
    margin: 0;
    color: black;
}
#box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 300px;
    width: 400px;
    border: 2px solid white;
    background-color: rgb(139, 130, 130);
    margin: 20px 30px;
}

.controls{
    display: flex;
    gap: 12px;
    margin-top: 16px;
}

.counter-label{
    font-size: 18px;
    color: black;
    margin-bottom: 8px;
}