*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html, 
body{
    height: 100%;
    width: 100%;
}
main{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  
}
button{
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    background-color: crimson;
    border-radius:  2px;
    position: relative;
    z-index: 9;
    cursor: pointer;

}
button:active{
    scale: 0.95
}
h1{
   
}

.card p{
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;

}

.card p span{
    font-weight: 600;
    color: royalblue;
}

.card{
    height: 250px;
    width: 450px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}
.outer{
    height: 20px;
    width: 100%;
    border-radius: 50px;

    background-color: rgb(197, 197, 197);
}

.inner{
    height: 100%;
    width: 0;
    background-color: green;
    border-radius: 50px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom h2{
    font-size: 80px;

}
.bottom button{
    padding: 12px 15px;
    color: white;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;

    font-weight: 600;
    border: 0;
}

.bottom button:active{
    scale: 0.95;
}