*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, 
body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#card h1{
    font-size: 25px;
    margin: 10px 20px;
    font-weight: 750;
    color: rgb(30, 74, 155);
}
#card h5{
    font-size:  20px;
    color: rgb(106, 3, 24);
    margin-bottom: 20px;
}
#card button{
    background-color: cornflowerblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;


}
